* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

button {
  position: relative;
  overflow: hidden;
  will-change: transform;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

input {
  background: transparent;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}
