:root {
    --header-bg-color: #ccc;
    --form-bg-color: #F7F6F6;
    --main-black: #000;
    --main-white: #fff;
    --text-gray-color: #888;
    --btn-border-color: #040404;
    --input-border-color: #CACDD8;
    --select-border-color: #C4C4C4;
}
